* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.backgroundImage {
    background: url(/img/code6.jpeg)center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
}

.bgFirst {
    background: rgb(231, 121, 57);
}

.bgSecond {
  background: rgb(138, 134, 134);
}

.img1 {
    width: 180px;
}

.img11 {
    min-width: 180px;
}

@media (max-width:400px) {
    .backgroundImage {
        height: 100vh;
    }
}